node_modules/

# don't commit generated builds or env files
src/client/*.min.*
src/client/hammerhead.js
src/client/worker-hammerhead.js
src/client/transport-worker.js
.env

# don't commit session and cache data
sessions/*
cache-js/*

# but commit the empty folders
!sessions/.gitkeep
!cache-js/.gitkeep

# ignore any custom configurations
/config.js
client_secret_397876265774-53tfeg4ek3bssqlti1s05o64nl7uus31.apps.googleusercontent.com.json